body::before {
    display: block;
    content: '';
    height: 60px;
}

.text-justify {
    text-align: justify !important;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}